html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
select,
button,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.quiz__title {
  font-family: "Effra", sans-serif;
  font-weight: 500;
}

html,
body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Bold.woff2") format("woff2"), url("fonts/AvenirNextCyr-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: AvenirNext;
  font-display: swap;
  src: url("../fonts/AvenirNext-DemiBold.woff2") format("woff2"), url("fonts/AvenirNext-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Heavy.woff2") format("woff2"), url("fonts/AvenirNextCyr-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2"), url("fonts/AvenirNextCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2"), url("fonts/AvenirNextCyr-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url("../fonts/Effra-Bold.woff2") format("woff2"), url("fonts/Effra-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url("../fonts/Effra-Medium.woff2") format("woff2"), url("fonts/Effra-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url("../fonts/Effra-Regular.woff2") format("woff2"), url("fonts/Effra-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.chromeperfectpixel-layer-img {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

html,
body {
  height: 100%;
  font-size: 16px;
  line-height: 26px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero.active {
  z-index: -1;
}

.quiz {
  min-height: 100vh;
  background: linear-gradient(90deg, #8172dd 50%, #faf8f6 50%);
}

.quiz__step {
  padding: 30px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  min-height: 100%;
  position: relative;
}

.quiz__step::before,
.quiz__step::after {
  content: "";
  position: absolute;
}

.quiz__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz__page {
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
}

.quiz__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.quiz__content--8 {
  max-width: 1500px;
  gap: 150px;
}

.quiz__content--8 .quiz__title {
  flex: 0 1 50%;
  max-width: unset;
}

.quiz__title {
  max-width: 500px;
  font-size: 64px;
  line-height: 77px;
  color: #fff;
}

.quiz__label {
  display: block;
  cursor: pointer;
  font-size: 18px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.5);
  max-width: 500px;
  width: 100%;
  position: relative;
}

.quiz__input {
  display: block;
  margin-top: 15px;
  border: none;
  padding: 18px 18px 18px 40px;
  color: #000;
  border-radius: 16px;
  width: 100%;
  height: 105px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
}

.quiz__btn-back {
  color: #fff;
  position: relative;
  padding-left: 25px;
  font-weight: 600;
  line-height: 22px;
}

.quiz__btn-back::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 15px;
  background: url(../img/quiz/Back_arrow.svg) no-repeat;
}

.quiz__btn-next {
  width: 69px;
  height: 69px;
  border-radius: 100%;
  position: absolute;
  right: 18px;
  top: 57px;
  background: #ff7d4e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz__btn-next svg {
  transform: rotate(180deg);
}

.quiz__questions {
  max-width: 500px;
  width: 100%;
}

.quiz__questions--8 {
  max-width: 680px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  transform: translateX(55px);
}

.quiz__questions--8 .quiz__link {
  max-width: 330px;
  height: 105px;
  padding: 27px 30px 28px 40px;
  display: flex;
  align-items: center;
}

.quiz__questions--8 .quiz__link + .quiz__link {
  margin-top: 0;
}

.quiz__link {
  display: block;
  padding: 40px 76px 40px 40px;
  background-color: #fff;
  border-radius: 16px;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  border: 2px solid #fff;
}

.quiz__link:focus {
  border: 2px solid #8172DD;
}

.quiz__link + .quiz__link {
  margin-top: 20px;
}

.quiz__step.active {
  display: flex;
}

.quiz__step .logo__img--mobile {
  display: none;
}

.quiz__step--1::before,
.quiz__step--9::before {
  top: 116px;
  left: 52.6%;
  width: 156px;
  height: 156px;
  border-radius: 100%;
  background-color: #f7906e;
}

.quiz__step--1::after,
.quiz__step--9::after {
  bottom: 0;
  right: 10px;
  width: 406px;
  height: 307px;
  background: url(../img/quiz/ellipse-01.svg) no-repeat;
}

.quiz__step--2::before {
  top: 107px;
  right: 37%;
  background: url(../img/quiz/ellipse-2.svg) no-repeat;
  width: 162px;
  height: 162px;
}

.quiz__step--2::after {
  bottom: 133px;
  right: 98px;
  width: 85px;
  height: 85px;
  background: #ffca78;
  border-radius: 100%;
}

.quiz__step--3::before {
  top: 106px;
  right: 134px;
  width: 155px;
  height: 155px;
  border-radius: 100%;
  background: #F6906E;
}

.quiz__step--3::after {
  right: 33.3%;
  bottom: 0;
  width: 210px;
  height: 265px;
  background: url(../img/quiz/ellipse-3.svg) no-repeat;
}

.quiz__step--4::before {
  top: 0;
  right: 116px;
  width: 210px;
  height: 275px;
  background: url(../img/quiz/ellipse-4.svg) no-repeat;
}

.quiz__step--4::after {
  bottom: 108px;
  right: 34.4%;
  width: 177px;
  height: 177px;
  border-radius: 100%;
  background-color: #FFCA78;
}

.quiz__step--5 {
  overflow: hidden;
}

.quiz__step--5::before {
  top: 128px;
  right: 34.7%;
  background: url(../img/quiz/ellipse-5.svg) no-repeat;
  width: 200px;
  height: 200px;
}

.quiz__step--5::after {
  bottom: 140px;
  right: -197px;
  width: 308px;
  height: 308px;
  border-radius: 100%;
  background-color: #F6906E;
}

.quiz__step--6::before {
  top: 161px;
  right: 114px;
  width: 154px;
  height: 154px;
  border-radius: 100%;
  background-color: #ffca78;
}

.quiz__step--6::after {
  bottom: 62px;
  right: 38.4%;
  background: url(../img/quiz/ellipse-2.svg) no-repeat;
  width: 162px;
  height: 162px;
  transform: rotate(90deg);
}

.quiz__step--7 {
  overflow: hidden;
}

.quiz__step--7::before {
  top: 103px;
  right: -205px;
  width: 418px;
  height: 212px;
  background: url(../img/quiz/ellipse-7.svg) no-repeat;
}

.quiz__step--7::after {
  bottom: 82px;
  right: 38%;
  width: 113px;
  height: 113px;
  border-radius: 100%;
  background: #F6906E;
}

.quiz__step--8::before {
  top: 145px;
  right: 38.3%;
  width: 172px;
  height: 171px;
  background: url(../img/quiz/ellipse-8.svg) no-repeat;
}

.quiz__step--8::after {
  bottom: 52px;
  right: 58px;
  width: 148px;
  height: 148px;
  border-radius: 100%;
  background: #FFCA78;
}

@media (max-width: 1700px) {
  .quiz__questions--8 {
    transform: translate(0px);
  }
}

@media (max-width: 1450px) {
  .quiz__questions--8 {
    max-width: 330px;
    margin: 0 auto;
  }
}

@media (max-width: 1250px) {
  .quiz__content {
    gap: 0;
  }
}

@media (max-width: 1100px) {
  .quiz {
    background: #faf8f6;
  }

  .quiz__step {
    padding: 30px 20px;
  }

  .quiz__step::before,
  .quiz__step::after {
    display: none;
  }

  .quiz__content {
    flex-direction: column;
  }

  .quiz__title {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
  }

  .quiz__label span {
    display: none;
  }

  .quiz__input {
    height: 56px;
  }

  .quiz__btn-back {
    font-size: 16px;
    color: #000000;
  }

  .quiz__btn-back::before {
    background: url(../img/quiz/Back_arrow--mobile.png) no-repeat;
  }

  .quiz__btn-next {
    top: 27px;
    width: 32px;
    height: 32px;
  }

  .quiz__questions--8 {
    transform: translateX(0);
    gap: 15px;
    max-width: 510px;
    justify-content: center;
  }

  .quiz__questions--8 .quiz__link {
    max-width: 160px;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quiz__link {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 100%;
    min-height: 60px;
    font-size: 16px;
    line-height: 22px;
  }

  .quiz__step .logo__img {
    display: none;
  }

  .quiz__step .logo__img--mobile {
    display: block;
    max-width: 33.6px;
    width: 100%;
    height: 40px;
  }

  .quiz__step--2 .quiz__questions {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  .quiz__step--2 .quiz__questions .quiz__link {
    min-height: 104px;
  }

  .quiz__step--2 .quiz__questions .quiz__link:nth-of-type(2) {
    margin-top: 0;
  }

  .quiz__step--7 .quiz__questions {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  .quiz__step--7 .quiz__questions .quiz__link {
    min-height: 104px;
  }

  .quiz__step--7 .quiz__questions .quiz__link:nth-of-type(2) {
    margin-top: 0;
  }
}

@media (max-width: 993px) {
  .container {
    padding: 0 20px 0 19px;
  }
}

@media (max-width: 769px) {
  .quiz__btn-back {
    margin-top: 21px;
  }
}

@media (max-width: 375px) {
  .quiz__questions--8 .quiz__link {
    max-width: 132px;
  }
}

@media (max-width: 350px) {
  .container {
    padding: 0 20px;
  }
}