html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
select,
button,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.slider__btn,
.cart__btn,
.shop-aside__footer-btn,
.header__btn {
  font-family: "Effra", sans-serif;
  font-weight: 700;
}

.reviews-card__title,
.reviews__title,
.shop__btn,
.slider__title,
.cart__title,
.profile-aside__link,
.profile-aside__title,
.info-aside__link,
.info-aside__title,
.shop-aside__footer-title,
.shop-aside__link,
.shop-aside__title,
.header-aside__text,
.header-aside__quiz {
  font-family: "Effra", sans-serif;
  font-weight: 500;
}

.card__title,
.shop__item,
.slider__suptext,
.footer__title,
.cart .cart-item__title {
  font-family: "Effra", sans-serif;
  font-weight: 400;
}

.footer__copyright,
html,
body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

.slider__btn,
.shop-aside__footer-btn,
.header__btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all 0.3s;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Bold.woff2") format("woff2"), url("fonts/AvenirNextCyr-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: AvenirNext;
  font-display: swap;
  src: url("../fonts/AvenirNext-DemiBold.woff2") format("woff2"), url("fonts/AvenirNext-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Heavy.woff2") format("woff2"), url("fonts/AvenirNextCyr-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2"), url("fonts/AvenirNextCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2"), url("fonts/AvenirNextCyr-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url("../fonts/Effra-Bold.woff2") format("woff2"), url("fonts/Effra-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url("../fonts/Effra-Medium.woff2") format("woff2"), url("fonts/Effra-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url("../fonts/Effra-Regular.woff2") format("woff2"), url("fonts/Effra-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.chromeperfectpixel-layer-img {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

html,
body {
  height: 100%;
  font-size: 16px;
  line-height: 26px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero.active {
  z-index: -1;
}

.header {
  padding: 30px;
  padding-left: 35px;
  position: relative;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__user-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__user-link {
  max-width: 32px;
  max-height: 32px;
  transition: all 0.5s ease;
}

.header__btn {
  font-size: 16px;
  line-height: 19px;
  background-color: #ff7d4e;
  width: 154px;
  height: 50px;
  border-radius: 100px;
}

.header__btn:hover {
  background-color: #6E5DDC;
}

.burger {
  display: none;
}

.header-aside {
  position: fixed;
  top: 0;
  left: -150%;
  height: 100vh;
  max-width: 375px;
  width: 100%;
  background-color: #fff;
  transition: all 0.5s ease;
  box-shadow: 5px 0px 20px 5px rgba(0, 0, 0, 0.07);
  transition: all 0.5s ease;
}

.header-aside.active {
  left: 0;
}

.header-aside__top {
  padding: 26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.header-aside__close {
  cursor: pointer;
  opacity: 0;
}

.header-aside__body {
  padding: 40px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.header-aside__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-aside__quiz {
  font-size: 20px;
  line-height: 24px;
  color: #ff7d4e;
}

.header-aside__text {
  font-size: 20px;
  line-height: 24px;
}

.header-aside__img {
  height: 15px;
  transform: rotate(180deg);
  opacity: 0.5;
}

.header-aside__footer {
  padding: 35px 20px 0;
}

.header-aside__footer * + * {
  margin-top: 14px;
}

.header-aside__mail {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.5;
}

.header-aside__copy {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.3;
}

.shop-aside {
  position: fixed;
  top: 0;
  left: -150%;
  height: 100vh;
  max-width: 375px;
  width: 100%;
  background-color: #fff;
  transition: all 0.5s ease;
  box-shadow: 5px 0px 20px 5px rgba(0, 0, 0, 0.07);
  z-index: 12;
  display: flex;
  flex-direction: column;
}

.shop-aside.active {
  left: 0;
}

.shop-aside__top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 23px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.shop-aside__back {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.shop-aside__back-img {
  height: 20px;
}

.shop-aside__title {
  font-size: 20px;
  line-height: 24px;
}

.shop-aside__body {
  padding: 40px 20px;
  overflow: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.shop-aside__item:last-child .shop-aside__link {
  color: #d32d2c;
}

.shop-aside__item + .shop-aside__item {
  margin-top: 28px;
}

.shop-aside__link {
  font-size: 20px;
  line-height: 24px;
}

.shop-aside__footer {
  padding: 40px 20px;
}

.shop-aside__footer-title {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: -0.2px;
}

.shop-aside__footer-text {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  opacity: 0.5;
  margin-bottom: 25px;
}

.shop-aside__footer-btn {
  background-color: #ff7d4e;
  font-size: 16px;
  line-height: 19px;
  padding: 18px 0;
  border-radius: 100px;
}

.info-aside {
  position: fixed;
  top: 0;
  left: -150%;
  height: 100vh;
  max-width: 375px;
  width: 100%;
  background-color: #fff;
  transition: all 0.5s ease;
  box-shadow: 5px 0px 20px 5px rgba(0, 0, 0, 0.07);
  z-index: 12;
  display: flex;
  flex-direction: column;
}

.info-aside.active {
  left: 0;
}

.info-aside__top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 23px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.info-aside__back {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.info-aside__back-img {
  height: 20px;
}

.info-aside__title {
  font-size: 20px;
  line-height: 24px;
}

.info-aside__body {
  padding: 40px 20px;
}

.info-aside__item + .info-aside__item {
  margin-top: 29px;
}

.info-aside__link {
  font-size: 20px;
  line-height: 24px;
}

.profile-aside {
  position: fixed;
  top: 0;
  left: -150%;
  height: 100vh;
  max-width: 375px;
  width: 100%;
  background-color: #fff;
  transition: all 0.5s ease;
  box-shadow: 5px 0px 20px 5px rgba(0, 0, 0, 0.07);
  z-index: 12;
  display: flex;
  flex-direction: column;
}

.profile-aside.active {
  left: 0;
}

.profile-aside__top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 23px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.profile-aside__back {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile-aside__back-img {
  height: 20px;
}

.profile-aside__title {
  font-size: 20px;
  line-height: 24px;
}

.profile-aside__body {
  padding: 40px 20px;
}

.profile-aside__item:last-child .profile-aside__link {
  color: #d32d2c;
}

.profile-aside__item + .profile-aside__item {
  margin-top: 29px;
}

.profile-aside__link {
  font-size: 20px;
  line-height: 24px;
}

.cart {
  position: absolute;
  max-width: 500px;
  width: 100%;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: 110;
  background-color: #fff;
  transform: translateX(100%);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
}

.cart.active {
  transform: translateX(0);
}

.cart__wrapper {
  pointer-events: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  transition: all 0.5s ease;
  z-index: 100;
}

.cart__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: -1;
  background-color: #000;
  transition: all 0.5s ease;
}

.cart__wrapper.active {
  pointer-events: all;
  right: 0;
}

.cart__wrapper.active::before {
  opacity: 0.3;
}

.cart__header {
  padding: 40px 40px 40px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.cart__title {
  font-size: 26px;
  line-height: 31px;
}

.cart__close {
  cursor: pointer;
}

.cart__body {
  overflow: auto;
  flex-grow: 1;
}

.cart__empty {
  display: none;
  background-image: url(../img/cart/cart-bg.svg);
  background-repeat: no-repeat;
  background-size: 294px 350px;
  background-position: center;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 107px);
}

.cart__empty.empty {
  display: flex;
}

.cart__order {
  padding: 30px;
}

.cart__order.empty {
  display: none;
}

.cart__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  background-color: #FF7D4E;
  color: #fff;
  border: 0;
  padding: 20px 0;
  border-radius: 100px;
  font-size: 20px;
  line-height: 24px;
}

.cart__btn span {
  padding-left: 38px;
  position: relative;
}

.cart__btn span::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #fff;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
}

.cart .cart-item {
  padding: 30px;
  display: flex;
  gap: 25px;
  justify-content: space-between;
  margin-bottom: 4px;
}

.cart .cart-item__graphic {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  max-width: 120px;
  width: 100%;
  min-height: 170px;
  height: 100%;
  background-color: #DA91E0;
}

.cart .cart-item__graphic--bg {
  background-color: #9C91E0;
}

.cart .cart-item__content-box {
  display: flex;
  margin-bottom: 18px;
  margin-top: 7px;
  gap: 20px;
}

.cart .cart-item__title {
  font-size: 20px;
  line-height: 24px;
}

.cart .cart-item__close {
  width: 14px;
  height: 14px;
  margin: 6px 10px;
  flex-shrink: 0;
  opacity: 0.5;
  cursor: pointer;
}

.cart .cart-item__content-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 12px;
  border-bottom: 1px solid #f2f2f2;
}

.cart .cart-item__counter {
  display: flex;
  gap: 15px;
}

.cart .cart-item__counter :nth-child(1),
.cart .cart-item__counter :nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: #000;
  font-size: 24px;
  position: relative;
}

.cart .cart-item__counter :nth-child(1):before,
.cart .cart-item__counter :nth-child(3):before {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart .cart-item__counter :nth-child(3)::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 2px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart .cart-item__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.cart .cart-item__price--discount {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #d32d2c;
}

.cart .cart-item__price--discount span {
  font-size: 12px;
  line-height: 16px;
  color: #000;
  text-decoration: line-through;
}

.cart .cart-item__autoship {
  position: relative;
}

.cart .cart-item__autoship span {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.5;
}

.cart .cart-item__label {
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
}

.cart .cart-item__label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  transition: all 0.5s ease;
}

.cart .cart-item__label::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/cart/checked.svg) no-repeat;
  background-size: cover;
  width: 10px;
  height: 7px;
  opacity: 0;
  transition: all 0.5s ease;
}

.cart .cart-item__checkbox {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.cart .cart-item__checkbox:checked + .cart-item__label::before {
  background-color: #FF7D4E;
}

.cart .cart-item__checkbox:checked + .cart-item__label::after {
  z-index: 10;
  opacity: 1;
}

.cart .cart-item__select {
  border: 0;
  background-color: #f5f5f5;
  color: #000;
  font-size: 12px;
  line-height: 16px;
  padding: 6px 8px 6px 7px;
  margin: 0 19px 0 12px;
}

.footer {
  background: #FAF8F6;
  padding: 70px 0 66px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: block;
  margin-bottom: 59px;
}

.footer__copyright {
  max-width: 124px;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  opacity: 0.3;
}

.footer__copyright--mobile {
  display: none;
}

.footer__title {
  font-size: 18px;
  line-height: 45px;
  color: #000;
  margin-bottom: 5px;
}

.footer__wrap {
  transform: translate(2px, -2px);
}

.footer__info {
  max-width: 206px;
  width: 100%;
  transform: translate(2px, -13px);
}

.footer__info--first {
  max-width: 315px;
  width: 100%;
  margin-left: 73px;
}

.footer__info--second {
  max-width: 197px;
  transform: translate(3px, -13px);
}

.footer__info--third {
  max-width: 211px;
  transform: translate(3px, -12px);
}

.footer__list--wrap {
  display: flex;
  flex-flow: column wrap;
  max-width: 185px;
  width: 100%;
  max-height: 190px;
  height: 100%;
}

.footer__item {
  position: relative;
  font-size: 14px;
  line-height: 35px;
  color: #7D7C7B;
}

.footer__item--lh {
  line-height: 21px;
  margin-bottom: 14px;
  transform: translateY(6px);
}

.footer__item--wrap {
  margin-top: 60px;
}

.footer__item--social {
  margin-bottom: 4px;
}

.footer__link--social {
  padding-left: 32px;
}

.footer__link--social::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__link--facebook::before {
  background-image: url(../img/icons/facebook-icon.svg);
}

.footer__link--instagram::before {
  background-image: url(../img/icons/instagram-icon.svg);
}

.slider {
  transform: translateY(-10px);
}

.slider__wrapper {
  max-width: 1400px;
}

.slider__slide {
  max-width: 1400px;
  width: 100%;
  border-top: 28px solid transparent;
}

.slider__slide--1 .slider__body {
  background-color: #9C91E0;
}

.slider__slide--1 .slider__graphic-img--2 {
  display: none;
}

.slider__slide--2 .slider__graphic-img--2 {
  display: none;
}

.slider__slide--3 .slider__body {
  background-color: #5F9DCA;
}

.slider__slide--3 .slider__graphic-img--3 {
  display: none;
}

.slider__body {
  display: flex;
  align-items: center;
  background-color: #8172DD;
  position: relative;
  border-radius: 24px;
  min-height: 472px;
}

.slider__decor-1 {
  position: absolute;
  bottom: 0;
  left: 34%;
}

.slider__decor-2 {
  position: absolute;
  right: 0;
  top: 0;
}

.slider__circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #ffca78;
  border-radius: 100%;
  top: -28px;
  right: 33.7%;
}

.slider__content {
  max-width: 660px;
  padding-left: 71px;
}

.slider__suptext {
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
  opacity: 0.7;
  margin-bottom: 15px;
}

.slider__title {
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  margin-bottom: 20px;
}

.slider__text {
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  opacity: 0.7;
  margin-bottom: 30px;
  max-width: 420px;
}

.slider__btn {
  font-size: 20px;
  line-height: 24px;
  color: #000;
  max-width: 255px;
  height: 65px;
  background-color: #fff;
  border-radius: 100px;
  transform: translateX(2px);
}

.slider__graphic {
  position: absolute;
  top: -28px;
  right: 1px;
}

.slider__graphic--2 {
  top: 50%;
  transform: translateY(-50%);
  right: 70px;
}

.slider__graphic--3 {
  top: 50%;
  transform: translateY(-50%);
  right: 35px;
}

.slider__buttons {
  position: relative;
}

.slider__button-prev,
.slider__button-next {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #fff;
  top: -240px;
  transform: translate(-50%, -50%);
  left: 11.3%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.slider__button-next {
  left: unset;
  right: 7.3%;
}

.slider__banner {
  max-width: 1400px;
  border-top: 0px;
  margin: 0 auto;
}

.slider__banner .slider__body {
  background-color: #5F9DCA;
}

.slider__banner .slider__suptext {
  transform: translateY(-2px);
}

.slider__banner .slider__text {
  max-width: 460px;
}

.slider__banner .slider__graphic--3 {
  top: 52%;
  right: 37px;
}

.slider__banner .slider__graphic-img--3 {
  display: none;
}

.slider__banner .slider__graphic-img--320 {
  display: none;
}

.shop__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 51px;
  padding-bottom: 100px;
}

.shop__menu {
  max-width: 206px;
  margin-top: 30px;
  margin-left: 1px;
}

.shop__item {
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
  cursor: pointer;
}

.shop__item:last-child {
  color: #d32d2c;
}

.shop__item.active {
  color: #ff7d4e;
}

.shop__btn {
  display: none;
}

.card {
  max-width: 325px;
  background-color: #FAF8F6;
  padding: 40px 30px 30px;
  border-radius: 16px;
  position: relative;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  max-width: 1040px;
  width: 100%;
}

.card__discount {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 51px;
  height: 27px;
  font-size: 12px;
  line-height: 16px;
  background-color: #d32d2c;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.card__box {
  margin-bottom: 40px;
  transform: translateY(-1px);
}

.card__body {
  display: flex;
  flex-direction: column;
  min-height: 124px;
}

.card__suptitle {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 19px;
  color: #5E73BB;
  font-weight: 600;
}

.card__title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 17px;
}

.card__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-top: auto;
  transform: translateY(-3px);
}

.card__price--discount {
  color: #d32d2c;
}

.card__price--discount span {
  color: #000;
  text-decoration: line-through;
  margin-right: 8px;
}

.reviews {
  padding: 100px 0;
  position: relative;
}

.reviews__title {
  font-size: 30px;
  line-height: 36px;
  max-width: 440px;
  width: 100%;
  margin-bottom: 50px;
}

.reviews__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.reviews__slider {
  max-width: 1430px;
  padding: 0 15px;
}

.reviews-card {
  box-sizing: border-box;
  padding: 40px 34px 30px 31px;
  min-height: 360px;
  width: 100%;
  border-radius: 16px;
  background-color: #faf8f6;
  display: flex;
  flex-direction: column;
}

.reviews-card:first-child {
  padding-left: 32px;
}

.reviews-card__stars {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.reviews-card__title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 14px;
}

.reviews-card__text {
  line-height: 28px;
}

.reviews-card__author {
  display: flex;
  align-items: center;
  margin-top: auto;
  gap: 15px;
}

.reviews-card__name {
  line-height: 22px;
  font-weight: 700;
}

@media (max-width: 1700px) {
  .slider__button-prev,
  .slider__button-next {
    left: 69px;
  }

  .slider__button-next {
    left: unset;
    right: 0;
  }
}

@media (max-width: 1550px) {
  .slider__button-prev,
  .slider__button-next {
    width: 50px;
    height: 50px;
    left: 40px;
  }

  .slider__button-next {
    left: unset;
    right: -10px;
  }
}

@media (max-width: 1520px) {
  .card__wrapper {
    gap: 15px;
    justify-content: space-evenly;
  }
}

@media (max-width: 1400px) {
  .slider__wrapper {
    max-width: 1000px;
  }

  .slider__slide {
    max-width: 1000px;
  }

  .slider__slide--2 .slider__graphic {
    top: 38px;
    right: -291px;
  }

  .slider__slide--2 .slider__graphic img {
    max-width: 70%;
  }
}

@media (max-width: 1150px) {
  .reviews__title {
    text-align: center;
    margin: 0 auto 32px;
    font-size: 36px;
    line-height: 47px;
  }
}

@media (max-width: 993px) {
  .container {
    padding: 0 20px 0 19px;
  }

  .header {
    padding: 15px 20px 15px 24px;
    overflow: hidden;
  }

  .header .logo {
    max-width: 33.6px;
    transform: translateX(17px);
  }

  .header__user-nav {
    gap: 0;
  }

  .header__user-link:first-child {
    transform: translate(100%, -200%);
  }

  .header__user-link.active:first-child {
    transform: translate(100%, 0);
  }

  .header__user-link.active:nth-child(2) {
    transform: translateX(350%);
  }

  .header__btn {
    display: none;
  }

  .burger {
    display: block;
    width: 24px;
    height: 18px;
    position: relative;
    cursor: pointer;
    z-index: 10;
  }

  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.5s ease;
  }

  .burger::before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger__btn {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .burger.active:before {
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
    height: 2px;
  }

  .burger.active span {
    transform: translate(0, -50%) scale(0);
  }

  .burger.active:after {
    bottom: 50%;
    transform: translate(0, 50%) rotate(-45deg);
    height: 2px;
  }

  .footer__title {
    margin-bottom: 2px;
  }

  .footer__info--first {
    margin-left: 0;
    max-width: 160px;
  }

  .footer__info--second {
    transform: translate(0, -13px);
  }

  .footer__info--second .footer__title {
    margin-bottom: 7px;
  }

  .footer__list--wrap {
    display: block;
    max-height: unset;
  }

  .footer__item {
    line-height: 19px;
    margin-bottom: 16px;
  }

  .footer__item--lh {
    margin-bottom: 22px;
  }

  .slider__wrapper {
    max-width: 375px;
  }

  .slider__slide {
    max-width: 375px;
  }

  .slider__slide--1 .slider__graphic-img {
    display: none;
  }

  .slider__slide--1 .slider__graphic-img--2 {
    display: block;
  }

  .slider__slide--2 .slider__decor {
    display: none;
  }

  .slider__slide--2 .slider__graphic {
    top: 0;
    right: 0;
  }

  .slider__slide--2 .slider__graphic img {
    max-width: 100%;
  }

  .slider__slide--2 .slider__graphic-img {
    display: none;
  }

  .slider__slide--2 .slider__graphic-img--2 {
    display: block;
  }

  .slider__slide--3 .slider__graphic-img {
    display: none;
  }

  .slider__slide--3 .slider__graphic-img--3 {
    display: block;
  }

  .slider__body {
    min-height: 492px;
    align-items: flex-end;
  }

  .slider__decor-2 {
    display: none;
  }

  .slider__content {
    padding-left: 0;
    padding: 0 20px 20px;
    text-align: center;
  }

  .slider__suptext {
    margin-bottom: 5px;
  }

  .slider__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .slider__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .slider__btn {
    margin: 0 auto;
    height: 50px;
    transform: translateX(0px);
  }

  .slider__graphic--2 {
    top: 0;
    right: 0;
    transform: translateY(0);
  }

  .slider__graphic--3 {
    top: 0;
    right: 0;
    transform: translateY(0);
  }

  .slider__buttons {
    display: none;
  }

  .slider__banner .slider__graphic--3 {
    top: 0;
    right: 0;
  }

  .slider__banner .slider__graphic-img {
    display: none;
  }

  .slider__banner .slider__graphic-img--3 {
    display: block;
  }

  .shop__inner {
    padding-bottom: 50px;
  }

  .shop__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 335px;
    width: 100%;
    height: 50px;
    margin: 40px auto 0;
    background: #FAF8F6;
    border-radius: 40px;
    border: none;
    position: relative;
  }

  .shop__btn::after {
    content: "";
    position: absolute;
    top: 46%;
    right: 105px;
    transform: translateY(-50%) rotate(-45deg);
    border-left: 2px solid #ff7d4e;
    border-bottom: 2px solid #ff7d4e;
    width: 10px;
    height: 10px;
  }

  .card {
    max-width: 250px;
    padding: 10px 15px 20px;
  }

  .card:not(:nth-child(-n+6)) {
    display: none;
  }
}

@media (max-width: 993px) and (max-width: 400px) {
  .shop__btn::after {
    right: 119px;
  }
}

@media (max-width: 993px) and (max-width: 350px) {
  .shop__btn::after {
    right: 92px;
  }
}

@media (max-width: 769px) {
  .footer {
    padding: 42px 0;
  }

  .footer__inner {
    flex-wrap: wrap;
    row-gap: 27px;
    padding-bottom: 15px;
    position: relative;
  }

  .footer__logo {
    margin-bottom: 0;
    max-width: 42px;
    min-height: 50px;
  }

  .footer__copyright {
    display: none;
  }

  .footer__copyright--mobile {
    display: block;
    max-width: 235px;
  }

  .footer__wrap {
    flex: 1 1 100%;
  }

  .footer__info {
    max-width: 160px;
    transform: translate(0, 0);
  }

  .footer__info--third {
    transform: translate(0, -13px);
  }

  .footer__info--third .footer__title {
    margin-bottom: 9px;
  }

  .shop__inner {
    flex-direction: column;
  }

  .shop__menu {
    margin-top: 0;
    margin-left: 0;
    max-width: 100%;
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 30px;
  }

  .shop__item.active {
    color: #000;
  }

  .shop__item:not(:first-child) {
    display: none;
  }

  .shop__item:first-child {
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
  }

  .shop__item:first-child::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) rotate(-45deg);
    border-left: 2px solid #ff7d4e;
    border-bottom: 2px solid #ff7d4e;
    width: 14px;
    height: 14px;
  }

  .card__discount {
    width: 36px;
    height: 22px;
    top: 21px;
    right: 20px;
    font-size: 10px;
    line-height: 14px;
  }
}

@media (max-width: 769px) and (max-width: 400px) {
  .shop__item:first-child::after {
    top: 5px;
    right: 2px;
  }
}

@media (max-width: 576px) {
  .card {
    max-width: 200px;
  }

  .card__box {
    margin-bottom: 10px;
  }

  .card__body {
    min-height: 147px;
  }

  .card__body .card__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  .card__suptitle {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 11px;
  }

  .card__title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
  }

  .card__price {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 457px) {
  .card {
    max-width: 160px;
  }

  .card__body {
    min-height: 119px;
  }
}

@media (max-width: 400px) {
  .slider {
    transform: translateY(-28px);
  }

  .slider__slide--1 .slider__content {
    padding-bottom: 30px;
  }

  .slider__body {
    border-radius: 0;
    min-height: 477px;
  }

  .slider__content {
    padding-bottom: 69px;
  }

  .slider__suptext {
    font-size: 16px;
    line-height: 19px;
  }

  .slider__title {
    margin-bottom: 14px;
  }

  .slider__text {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 21px;
  }

  .slider__btn {
    max-width: 154px;
    font-size: 16px;
    line-height: 19px;
  }

  .slider__banner .slider__body {
    min-height: 461px;
  }

  .slider__banner .slider__content {
    padding-bottom: 17px;
  }

  .slider__banner .slider__suptext {
    transform: translateY(-5px);
  }

  .slider__banner .slider__btn {
    max-width: 166px;
  }

  .shop__inner {
    padding-top: 0;
    transform: translateY(-9px);
  }

  .shop__item {
    font-size: 16px;
    line-height: 19px;
  }

  .shop__btn {
    margin-top: 14px;
  }

  .shop__btn span {
    transform: translateX(-13px);
  }

  .card__wrapper {
    row-gap: 14px;
  }

  .reviews {
    padding-top: 61px;
    padding-bottom: 61px;
  }

  .reviews__title {
    font-size: 20px;
    line-height: 24px;
    max-width: 215px;
    width: 100%;
    margin-bottom: 14px;
    text-align: left;
    margin-left: 0;
    margin-bottom: 31px;
  }

  .reviews__slider {
    padding: 0 20px;
  }

  .reviews-card {
    padding: 30px 15px 20px 20px;
  }

  .reviews-card:first-child {
    padding-left: 20px;
  }

  .reviews-card__stars {
    margin-bottom: 15px;
  }

  .reviews-card__title {
    font-size: 16px;
    line-height: 19px;
  }

  .reviews-card__text {
    font-size: 14px;
    line-height: 24px;
  }

  .reviews-card__name {
    font-size: 14px;
    line-height: 19px;
  }
}

@media (max-width: 375px) {
  .card {
    padding-bottom: 18px;
  }

  .card__box {
    margin-bottom: 10px;
  }

  .card__body {
    min-height: 122px;
  }
}

@media (max-width: 374px) {
  .card {
    padding: 30px 20px 20px;
    max-width: 280px;
    margin: 0 auto;
  }
}

@media (max-width: 360px) {
  .footer__info {
    max-width: 132px;
  }
}

@media (max-width: 350px) {
  .container {
    padding: 0 20px;
  }

  .slider__body {
    min-height: 464px;
  }

  .slider__content {
    padding-bottom: 68px;
  }

  .slider__banner .slider__body {
    min-height: 493px;
  }

  .slider__banner .slider__content {
    padding-bottom: 30px;
  }

  .slider__banner .slider__graphic-img--3 {
    display: none;
  }

  .slider__banner .slider__graphic-img--320 {
    display: block;
  }

  .shop__btn {
    margin-top: 13px;
  }

  .card:not(:nth-child(-n+4)) {
    display: none;
  }

  .card:first-child .card__box-img {
    transform: translateY(2px);
  }

  .card__box {
    margin-bottom: 13px;
  }

  .card__suptitle {
    margin-bottom: 10px;
    margin-top: 18px;
  }

  .card__price {
    transform: translateY(-1px);
  }

  .reviews {
    padding-bottom: 60px;
  }

  .reviews-card {
    padding-right: 20px;
    padding-bottom: 22px;
  }
}